@page "/Order"
@using Nimbbl.Sdk.Rest
@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization

<h3>Order</h3>
<div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Whole_apple_and_bitten_apple.jpg/640px-Whole_apple_and_bitten_apple.jpg"/>
    <button class="btn btn-primary" onclick="@IncrementCount">Buy</button>
    <h5>
        @Message
    </h5>

    @if (!string.IsNullOrWhiteSpace(OrderValue))
    {
        <div>
            <pre>
            @OrderValue
            </pre>
        </div>
    }

</div>

@code {

    string Message { get; set; } = "";
    string OrderValue { get; set; } = "";
    OrderRequest NewOrder()
    {
        return new()
        {
            AmountBeforeTax = 2,
            Currency = "INR",
            InvoiceId = Convert.ToBase64String(Encoding.UTF8.GetBytes(Guid.NewGuid().ToString("n"))),
            Tax = 0,
            TotalAmount = 2,
            ReferrerPlatform = "woocommerce",
            MerchantShopfrontDomain = "http://example.com",
            OrderLineItems = new[]
            {
                new OrderLineItem()
                {
                    SkuId = "sku1",
                    Title = "Apple",
                    Description = "Its an apple but does not start with an i.",
                    Quantity = 1,
                    Rate = 2,
                    AmountBeforeTax = 2,
                    TotalAmount = 2,
                    ImageUrl = "https=//cdn.pixabay.com/photo/2015/12/09/01/02/mandalas-1084082_960_720.jpg"
                }
            },
            Description = "Buying Cheap apples"
        };
    }
    async Task IncrementCount()
    {
        OrderValue = "";
        try
        {
            var config = new Config("https://api.nimbbl.tech/api/", "access_key_1MwvMkKkweorz0ry", "access_secret_81x7ByYkRpB4g05N");
            var client = new NimbblClient(config);
            var order = await client.Orders.CreateAsync(NewOrder());
            var options = new JsonSerializerOptions(JsonSerializerDefaults.Web)
            {
                WriteIndented = true,
                DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull
            };
            OrderValue = JsonSerializer.Serialize(order, options);
        }
        catch (Exception e)
        {
            Message = "Order creation failed";
            return;
        }

        Message = "Order Created";
    }
}